/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: bisque;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color:saddlebrown;
  color: #fff;
  padding: 20px;
  text-align: center;
}


