body {
  font-size: 100%;
  margin: 0;
}


/*Intro Page Edits */
div.page {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: auto;
  padding-top: 4vh;
}
.bg-image {
  background-image: url('../public/landingpage.webp');
  background-image: linear-gradient(rgba(0,0,0,0.527),rgba(0, 0, 0, 0.5)), url('../public/landingpage.webp');
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.button{
  display: inline-block;
  text-decoration: none;
  color: #FFFCCC;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  font-family: "Franklin Gothic Book";
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button:hover{
  border: 1px solid wheat;
  background: #996633;
  transition: 1s;
}
.welcome{
  color: white;
  font-family: 'Yanone Kaffeesatz';
  transform: translate(5%, 395%);
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 25.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote{
  color: white;
  font-family: 'Fasthand', cursive;
  font-size: 23px;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*Begin Edits */
.login-links-holder {
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* add this line to center vertically */
  width: 100%;
  height: 100%;
  font-family: 'Roboto Slab', serif;
  margin-top:30vh;
}

.page{
  background-image: linear-gradient(rgba(0,0,0,0.527),rgba(0, 0, 0, 0.5)), url('../public/begin.webp');
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.navbar {
  border-width: 1px 0;
  border-radius: 0;
  background-clip: padding-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-bottom: 1px rgba(50, 50, 93, 0.2) solid;
  padding: 0.5vmin 15vmin;
}

.nav-button {
  color: black;
  font-size: calc(6px + 2.5vmin);
  padding: 2vmin;
  min-width: 15vmin;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  width: 300px;
  height: auto;
}
.logo img {
  max-height: 80px;
  max-width: 80px;
}

.login-link1,
.login-link2 {
  padding: 2vmin;
  width: 60vw; /* adjust the width to your desired size */
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 1.5vmin;
  margin: 2vmin;
  transition: all 0.3s;
  font-size: 1.2em; /* add this line to make the font size slightly bigger */
  text-decoration: none;
}

.login-link1:hover,
.login-link2:hover {
  color: white;
  background-color: saddlebrown;
  transform: translateY(-20px);
}


/*Food Prep Edits*/

.login-input{
  margin: 0 0 0 1vw;
}

.pass-input{
  margin: 0 0 0 2.4vw;
}

.foodprep-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size:30px;
  background-size: cover;
  background-position: center;
  height: 50%;
  width: 50%;
}
.foodprep-order button{
  margin-top: 20px;
}
.foodprep-order label1{
  margin-right: 135px;
}
.foodprep-page{
  font-size: 13px;
  max-width: 90vw;
  margin: 1vw auto 7.5vw auto;
  padding: 5vh 0 0 0;
  position: sticky;
  top: 90vh;
  color: black;
  text-emphasis: none;
  text-decoration: none;
  border-radius: 3vmin;
  position:center;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  alignment: center;
}

.orders-title {
  text-align: center;
  border-bottom: solid;
  border-bottom-width: 0.25vh;
  border-bottom-color: black;
  margin: 1.5vmin 2vmin;
}

.foodprep-title {
  text-align: center;
  margin: 0 5vmin 2.5vh 0.5vmin;
}

.foodprep-orders-holder {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.foodprep-order-holder {
  background-color: rgba(128, 128, 128, 0.24);
  margin: 1.0vmin;
  padding: 0.5vmin 2vmin 1.5vmin 2vmin;
  border-radius: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

.foodprep-button {
  max-width: 70%;
  min-width: 40%
}

.column-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(256,256,256,0.5);
  min-height: 40vh;
}

.column.foodprep {
  width: 33.33%;
  margin: 0 auto 0 auto;
}

.foodprep-button {
  margin: auto;
}

/* Menu Edits */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 12vmin;
  height: 50vmin;
  width: 100%;
  max-width: 60vmax;
}

.menu-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.submenu-title {
  background-color: rgb(97, 86, 67);
  color: white;
  padding: 2vmin;
  font-size: 2em;
  margin: 0 2.5vmin 2.5vmin 2.5vmin;
  text-align: center;
  border-radius: 2vmin;
  font-family: Gloria+Hallelujah, serif;
  text-emphasis: none;
}

.submenu-button:hover {
  background-color: rgb(75, 67, 52);
}

.submenu-holder {
  display: block;
  width: auto;
  min-width: 80vmin;
  padding: 4vmin;
}

.submenu-list {
  text-align: left;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  max-width: 50vw;
  min-width: max(200px, 33vw);
  background-color: blanchedalmond;
  border-radius: 4vmin;
  padding: 3%;
  margin: 1vmin;
}

.menu-item-quantity{
  margin: 0 1vw 0 0;
}

.menu-item-price,
.menu-item-inventory{
  font-size: 1em;
}

h5.menu-item-title {
  font-size: 1.2em;
}
/*View Order Edits*/
.order-holder {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 4vmin;
  width: 30vw;
  align-content: center;
}

.order-item-customization {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2vmin 0;
  width: 100%;
  max-width: 60vmax;
}

h6{
  font-size:1em;
}


h5.order-item-customization {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.4em 2vmin;
  width: 80%;
  max-width: 60vmax;
  font-weight: normal;
}

.order-item {
  font-size: 1em;
  text-decoration: none;
  font-weight: normal;
}

.order-detail {

  text-align: right;
  font-weight: normal;
  font-size: 1em;
}


.order-title,
.order-details{
  color: beige;
}


.order-item-title {
  margin: 2vmin 0 1vmin 0;
}

.order-item-holder {
  padding: 2vmin;
  background-color: lightgray;
  margin: 2vmin;
  width: inherit;
  border-radius: 1vmin;

}

.view-order-button {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 90vh;
  background-color: rgb(114, 55, 16);
  color: white;
  text-emphasis: none;
  text-decoration: none;
  padding: 2vmin;
  border-radius: 2vmin;
  max-width: 10vw;
}


.return-button {
  padding: 2vmin;
  max-width: 25vw;
  text-align: center;
  background-color: blanchedalmond;
  border-radius: 1.5vmin;
  margin: 2vmin 0;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.user-profile{
  color:black;
  text-align: center;
  border-bottom: solid;
  border-bottom-width: 0.25vh;
  border-bottom-color: black;
  margin: 1.5vmin 2vmin;
  background-color: wheat;
  font-family: "Arial Black";
  font-size: 30px;
}
.user-info {
  display: flex;
  flex-direction: column;
}

.user-info label {
  margin-bottom: 0.5rem;
}

.user-info label + * {
  margin-top: 0.5rem;
}
.user-info{
  text-align: center;
  border-bottom: solid;
  border-bottom-width: 0.25vh;
  border-bottom-color: black;
  margin: 1.5vmin 2vmin;
  color:gainsboro;
  font-family: "Arial Narrow";
}
.past-orders{
  text-align: center;
  border-bottom: solid;
  border-bottom-width: 0.25vh;
  border-bottom-color: black;
  margin: 1.5vmin 2vmin;
  color: black;
  background-color:wheat;
  font-family: "Arial Black" ;
}
.order-pasts{
  text-align:center;
  border-bottom: solid;
  border-bottom-width: 0.50vh;
  border-bottom-color: black;
  border-bottom-left-radius: 20vh;
  border-bottom-right-radius: 20vh;
  border-top-left-radius: 20vh;
  border-top-right-radius: 20vh;
  margin: 1.2vmin 1.5vmin;
  color:black;
  background-color:antiquewhite;
  font-family: "Arial Narrow";
}
.user-profile-page{
  background-image: linear-gradient(rgba(0,0,0,0.527),rgba(0, 0, 0, 0.5)), url('../public/begin.webp');
}
.navbar{
  background-color: white;
  font-family: Bahnschrift;
}
.about-us-title{
  color:white;
  font-family: Bahnschrift;
}
.about-us-desc{
  color:white;
  text-align: center;
  margin-left: 20vh;
  margin-right:20vh;
  font-size:20px;
  font-family: Bahnschrift;
}
.Email2{
  color:wheat;
}
.Phone2{
  color:wheat;
}
.navbar{
  background-color: bisque;
}
.search-bar{
  margin-top:5vh;
  margin-left:-30vh;
}
